<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.glf.roideladictee">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".tester.Tester">
        </activity>
        <activity
            android:name=".TranslateWindow.TranslatorFrame"
            android:screenOrientation="landscape"
            android:theme="@style/MyDialogActivityStyle" />
        <activity
            android:name=".LoginPage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_NoBar" />
        <activity
            android:name=".NewLoginPage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_NoBar" />
        <activity
            android:name=".IndexPage"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_NoBar" />
        <activity
            android:name=".VideoAddNewWord"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/MyVideoStyle">
        </activity>
        <activity
            android:name=".LaunchScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_NoBar">
        </activity>
        <activity
            android:name=".TestResult"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_NoBar" />
        <activity
            android:name=".ResourcesPicker"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_NoBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>